<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Pretvornik enot</title>

    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <h2>Pozdravljeni v pretvorniku enot!</h2>
    <br>
    <h3> Pretvornik bo za vas razdaljo pretvoril iz kilometrov v milje ali iz milj v kilometre.</h3>
    <form method="post" action="/pretvorba">
        <label for="input-razdalja">Vnesi razdaljo brez enot, ki jo zelis pretvoriti: </label>
        <input type="text" id="input-razdalja" name="razdalja">
        <br>
        <br>
        <label for="input-izbira">Za pretvorbo iz km v mi vnesi 1, za pretvorbo iz mi v km pa 2: </label>
        <input type="text" id="input-izbira" name="izbira_pretvorbe">
        <br>
        <br>
        <button type="submit">Izvedi pretvorbo!</button>

</body>
</html>